@media screen and (max-width: 3840px) {
    body {
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            overflow: hidden;
            height: 100vh;
        }

        .container {
            width: 1500px;
            margin: auto;
        }

        /*sidebar*/
        .sidebar {
            width: 278px;
            height: 1138px;
            padding-top: 525px;
            position: relative;
            bottom: 72px;
            background-color: rgba(0, 0, 0, 255);
            display: inline-block;
            border: 3px dashed black;
        }

        .subject {
            color: rgba(172, 172, 172, 255);
            font-size: 20px;
            margin-top: 20px;
            margin-left: 20px;
        }

        .subjects {
            color: white;
            margin-left: 20px;
            font-family: "Lexend", sans-serif;
        }

        .speciale {
            position: relative;
            bottom: 500px;
        }

        #logo {
            width: 150px;
            position: relative;
            bottom: 520px;
        }

        /*main content*/
        .content {
            width: 1346px;
            height: 1138px;
            background-color: rgba(20, 24, 34, 255);
            display: inline-block;
            border: 3px dashed black;
        }

        /*footer section*/
        #footer {
            width: 1350px;
            height: 80px;
            margin: auto;
            position: relative;
            right: 75px;
            bottom: 483px;
            background-color: rgba(40,40,40,255);
            border: 3px dashed black;
        }

        /*central container*/
        .contine {
            width: 1243px;
            height: 900px;
            margin: auto;
            margin-top: 100px;
            padding-top: 86px;
            background-color: rgba(159, 200, 168, 255);
        }

        /*central box*/
        .box {
            width: 1220px;
            height: 290px;
            margin-left: 23px;
            padding-top: 50px;
            background-color: rgba(177, 178, 182, 255);
        }


        /*central squares*/
        .squares {
            width: 280px;
            height: 195px;
            margin-bottom: 40px;
            margin-left: 47px;
            background-color: rgba(255, 74, 117, 255);
            display: inline-block;
        }

        /*upgrade botton*/
        #upgrade {
            background-color: rgb(8, 11, 18.255);
            color: white;
            border: 1px solid white;
            margin-left: 1110px;
            padding: 13px;
            border-radius: 120px;
            text-align: center;
        }

        #play {
            color: white;
            margin-left: 20px;
            margin-top: 20px;
            font-family: "Lexend", sans-serif;
        }

        #install {
            color: grey;
            margin-top: 400px;
            font-family: "Lexend", sans-serif;
        }

        .john {
            font-size: 20px;
            color: white;
            font-family: "Lexend", sans-serif;
        }

        #row {
            height: 70px;
            position: relative;
            background-color: rgba(8, 11, 18, 255);
        }

        #sp {
            color: aquamarine;
            background-color: gold;
            font-size: 30px;
        }

        .special {
            color: rgba(125,127,132,255);
            display: inline-block;
            font-size: 17px;
            position: relative;
            top: 60px;
            left: 360px;
            margin-left: 20px;
        }

        h1 {
            color: white;
            position: relative;
            left: 300px;
            top: 100px;
            font-family: "Lexend", sans-serif;
        }

        .image {
            margin-left: 300px;
            margin-top: 120px;
            width: 200px;
            display: inline-block;
        }

        .title {
            color: white;
            margin-left: 300px;
            margin-top: 15px;
            font-family: "Lexend", sans-serif;
        }

        .subtitle {
            color: rgba(125,127,132,255);
            margin-left: 350px;
            margin-top: 10px;
        }
    }
}